#main-nav #logo {
  height: 50px; }

#main-nav .navbar-collapse ul li {
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  border-bottom: solid 1px transparent;
  padding-top: 20px; }

@media screen and (min-width: 768px) {
  #main-nav ul li {
    padding-top: 0px; } }

.nav-visible {
  background-color: #25007E;
  position: fixed;
  top: 0;
  z-index: 20;
  width: 100vw;
  text-align: center;
  padding-bottom: 40px; }
